@font-face {
    font-family: "Fixel";
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: url("./fonts/Fixelblack.woff2") format("woff2");
}

@font-face {
    font-family: "Fixel";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("./fonts/FixelRegular.woff2") format("woff2");
}